@media (max-width: 1139.5px) {
    .about-us {
        padding-top: 80%;
    }

    .card-news__item:last-child {
        display: block;
    }

    .track {
        justify-content: center;
    }

    .main_slider_arrow-prev,
    .main_slider_arrow-next {
        display: none;
    }



    .about-us-content__img {
        margin-left: 100px;
    }
}

@media (max-width: 1115px) {
    .about-us {
        align-items: center;

    }

    .about-us-content__text {
        margin-top: 0;
    }

    .about-us-content__img {
        margin-top: 60px;
    }

    .speech__text {
        padding: 20px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .speech__quotation-marks {
        left: 15px;
    }

    .speech__img {

        position: static;
        width: 370px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 1080px) {
    .track {
        margin-top: 100px;
    }
}

@media (max-width: 1030px) {




    .navigation {
        padding: 0 20px;
    }

    .mobile-menu span {
        display: block;
        background: black;
        ;
    }

    .nav-items {

        flex-direction: column;
        background-color: rgba(122, 102, 204, 0.7);
        width: 200px;
        height: 300px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -42px;
        right: -200px;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;

        overflow: hidden;

    }

    .nav-items.active {
        right: 0;
        max-height: 300px;
        visibility: visible;
        opacity: 1;

    }

    .nav__item {
        margin: 6px;
    }

    .about-us-content__img {
        margin-left: 30px;
    }

}

@media (max-width: 766px) {


    .card-news__item:last-child {
        display: none;
    }

    .album__items {
        display: grid;
        gap: 30px;
        grid-template-areas:
            "B C"
            "A D"
            "A D"

            "E E";
        grid-template-rows: repeat(255px);
        grid-template-columns: repeat(235px);
        height: 1000px;
        /* grid-template-columns: repeat(auto-fit, 255px);
grid-template-rows: repeat(2, 235px); */
    }
}

@media (max-width: 759.5px) {
    .about-us {
        padding-top: 130%;
    }

    .about-us-foot {
        margin-top: 30px;
        grid-template-columns: repeat(1, 260px);
    }

    .speech {
        margin-top: 120px;
    }

    .cards-news {
        display: flex;
        justify-content: center;
    }

    .cards-news-items {

        grid-template-columns: repeat(auto-fit, minmax(350px, 60%));
    }
}

@media (max-width: 684.5px) {
    .present {
        padding-top: 300px;
    }

    .present__text-2 {
        line-height: 120px;
    }
}

@media (max-width: 640px) {
    .about-us {
        padding-top: 150%;
    }

}

@media (max-width: 560px) {
    .timeline {
        margin: 0 5%;
        height: 5px;
    }

    .audio-time {
        font-size: 16px;
    }

    .about-us {
        padding-top: 180%;
    }

    .about-us-content__img {
        min-width: 400px;

    }

    .about-us-content__img2 {
        top: 30px;
        left: 50px;
    }

    .track__img-back {
        width: 400px;
        height: 400px;
    }

    .track__img {
        width: 360px;
        height: 360px;
    }

    .about-us-content__img1,
    .about-us-content__img2 {
        width: 300px;
    }

    .contacts-visit {
        font-size: 15px;
        justify-content: space-evenly;
    }


}

@media (max-width: 475px) {
    .about-us {
        padding-top: 210%;
    }

}

@media (max-width: 450px) {
    /* .present {
    padding-top: 300px;
}

.present__text-1 {
    font-size: 32px;

}

.present__text-2 {
    font-size: 60px;
    line-height: 80px;

} */




    .about-us-content__img {
        min-width: 350px;

    }



    .track__content {
        margin: 0;
    }

    .track__img-back {
        width: 380px;
        height: 380px;
    }

    .track__img {
        width: 340px;
        height: 340px;
    }



    .contacts-visit {
        font-size: 14px;
    }

    .contacts-visit {
        display: none;
    }

    .about-us-header__text {
        font-size: 32px;
    }

}

@media (max-width: 430px) {
    .present {
        padding-top: 280px;
    }

    .present__text-1 {
        font-size: 32px;

    }

    .present__text-2 {
        font-size: 80px;
        line-height: 100px;

    }
}

@media (max-width: 400px) {


    .track__follow-social {
        margin-left: 15px;
    }

    .about-us-content__img1,
    .about-us-content__img2 {
        width: 260px;
    }

    .about-us-content__img {
        min-width: 310px;

    }

    .about-us-content__img2 {
        top: 20px;
        left: 30px;
    }

    .track__img-back {
        width: 300px;
        height: 300px;
    }

    .track__text {
        font-size: 32px;
    }



    .track__img {
        width: 280px;
        height: 280px;
    }

    .speech__img {

        position: static;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer-social {
        position: relative;
        transition: all 0.5s ease;
    }

    .footer-social-mobile {
        display: flex;

    }

    .footer-social__items {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 60px);
        justify-content: center;
        max-width: 70%;
        height: 300px;
        margin: 0 auto;
        justify-items: center;
        padding: 15px;
        background: rgb(122, 102, 204);
        background: linear-gradient(0deg, rgba(122, 102, 204, 1) 0%, rgba(152, 136, 217, 1) 17%, rgba(177, 168, 215, 1) 100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        border-radius: 10px;
    }

    .footer-social__items.active {
        opacity: 1;
        visibility: visible;
    }


    .cards-news-items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card-news__title {
        font-size: 14px;
    }

}

@media (max-width: 360px) {
    .about-us-content__text {
        max-width: 300px;


    }

    .about-us-header__text {
        font-size: 24px;
    }

    .speech__img {


        width: 250px;
        height: 400px;
        ;
    }

    .logo__img {
        width: 40px;
        height: 40px;

    }

    .logo__name {
        width: 120px;
        height: 38px;
    }



    .track__content {
        width: 300px;
    }

    .track__follow-social img {
        width: 40px;
    }

    .track__follow-social span {
        display: none;

    }

    .track__follow {
        justify-content: space-evenly;
    }

    .about-us-content__img1,
    .about-us-content__img2 {
        width: 240px;
    }

    .about-us-content__img {
        min-width: 280px;

    }

    .about-us-content__img2 {
        top: 20px;
        left: 30px;
    }

    .track__img {
        width: 260px;
        height: 260px;
    }

    .track__img-back {
        width: 280px;
        height: 280px;
    }

    .album__item-text {
        font-size: 16px;
    }

    .main_slider_slide-city {
        margin-top: 10px;
    }

    .main_slider_slider-data {
        margin-top: 20px;
    }
}

@media (max-width: 350px) {
    .about-us {
        padding-top: 240%;
    }
}