@media (max-width: 1350px) {
    .agents {

        left:80px;

        
        }

        .cards {
            width: 800px;
            margin-left:170px;
            margin: 0 auto;

        }

    .main_slider_wrap {
        
        margin: 0 auto;
        margin-top: 20px;
        max-width: 850px;
        width: 100%;

        
        }
}
@media (max-width: 1260px) {
    .agents {

        left:80px;

        
        }
        .cards {

         

        }
    .main_slider_wrap {
        
        margin: 0 auto;
        margin-top: 20px;
        max-width: 850px;
        width: 100%;

        
        }
}

@media (max-width: 1150px) {
    .nav-items {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
}
@media (max-width: 1080px) {
    .agents {

        left:20px;

        
        }
}
@media (max-width: 980px) {
    .cards {
        width: 700px;
        margin-left:170px;
        margin: 0 auto;

    }
    .agents {

        left:20px;

        
        }
}
@media (max-width: 860px) {
    .contanier {
        
        height: 760px;
    }

    .cards {
        width: 700px;
        margin-left:170px;
        margin: 0 auto;

    }
    .agents {
        position: relative;
        top: 0;
        left: 0;
        
        transform: none;
        width: max-content;
        margin: 0 auto;
        margin-top: 15px;
        display: block;

        
        }
        .slide_skills {
            margin: 0 auto;
        }
        .slide-button {
            width: 400px;
        }
        .main_slider_arrow-prev {
            display: flex;
            transform: scaleX(-1);
        }

        .main_slider_wrap {
        
            margin: 0 auto;
            margin-top: 20px;
            max-width: 600px;
            width: 100%;
    
            
            }
            .slide-button {
 
                margin-left: 0;
        
            }
}
@media (max-width: 800px) {
    .card {

        
        width: 250px;
        height: 350px;

    }


    .cards {
        padding: 20px;
        max-width: 600px;
        width: 100%;
 align-items:center;
        
        
    
    }
    .card {
    margin: 0 auto;
    }
    .cards-slides-next,.cards-slides-prev {
       
        display: flex;
    
    }

}
@media (max-width: 600px) {
    .main_slider_wrap {
        align-items:center
    }
    .contanier {
        
        height: 860px;
    }
    .slide_skills {
        width: 250px;
        height: 200px;
        flex-direction: column;
        
        
        }
        .slide_skills-text {
            width: 200px;
            margin: 0 auto;
            text-align: center;
        
        }
        .slide_slills-wrap_logo  {
            margin: 0 auto;
            margin-top: 20px;
        }

        .slide_slills-logo {
            position: relative;
            top:15px;
            left: 15px;
        }
        .card {

        
            width: 200px;
            height: 350px;
    
        }
        .card__skills {

            position: absolute;
            bottom:-20px;
            left: -10px;
            width: 220px;
            height: 50px;

        }
}
@media (max-width: 500px) {

    .card {

        
        width: 280px;
        height: 350px;

    }
    .card__skills {


        width: 300px;
   

    }
    .slide_skills {
        width: 200px;
        height: 200px;
        flex-direction: column;
        
        
        }
        .cards-slides-next,.cards-slides-prev {
       
           display: none;
        
        }
        .swipe-text {
            display: block;
        }
        .contanier {
        
            height: 900px;
        }

}
@media (max-width: 400px) {
    .agents {

        
        font-size: 30px;
        

        
        }
}